<?xml version='1.0' encoding='utf-8'?>
<widget id="com.xasos.testproject" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TestProject</name>
    <description>
        Seed project for demonstrating Polymer's capabilities on Android/Web.
    </description>
    <author email="nirajpant7@gmail.com" href="http://xasos.github.io">
        Niraj Pant
    </author>
    <content src="www/index.html" />
    <access origin="*" />
</widget>
